<div class="container-fluid">
    <h1 class="text-primary">Change Password</h1>
    <p class='alert alert-danger' ng-show="pc.error">error</p>
    <div class="well" ng-hide="pc.error">
        <form novalidate class='password-form' name='passwordForm'>
            <div class='form-group error-height' ng-class="{ 'has-error': registerForm.current.$invalid && registerForm.current.$dirty }">
                <label>current password</label>
                <input type='password' class='form-control' name='current' ng-minlength='4' ng-model='user.current' required />
                <div class='help-block' ng-messages='passwordForm.password.$error' role='alert'>
                    <p class='help-block' ng-message='required'>password is required</p>
                    <p class='help-block' ng-message='minlength'>password too short</p>
                </div>
            </div>
            <div class='form-group error-height' ng-class="{ 'has-error': passwordForm.password.$invalid && passwordForm.password.$dirty }">
                <label>new password</label>
                <input type='password' class='form-control' name='password' ng-minlength='4' ng-model='user.password' required />
                <div class='help-block' ng-messages='passwordForm.password.$error' role='alert'>
                    <p class='help-block' ng-message='required'>password is required</p>
                    <p class='help-block' ng-message='minlength'>password too short</p>
                </div>
            </div>
            <div class='form-group error-height' ng-class="{ 'has-error': passwordForm.confirm.$invalid && passwordForm.confirm.$dirty }">
                <label>confirm password</label>
                <input type='password' class='form-control' name='confirm' ng-minlength='4' ng-model='user.confirm' compare-to="user.password" required />
                <div class='help-block' ng-messages='passwordForm.confirm.$error' role='alert'>
                    <p class='help-block' ng-message='required'>password is required</p>
                    <p class='help-block' ng-message='compareTo'>password does not match</p>
                </div>
            </div>

            <button type='submit' class='btn btn-default' ng-click='pc.changePassword(user)'>Submit</button>
        </form>
    </div>
</div>

