<div class="container-fluid">
    <h1 class="text-primary">Change Password</h1>
    <p class='alert alert-danger' ng-show='pc.error'>error</p>
    <div class="well" ng-hide="pc.error">
        <form novalidate class='password-form' name='passwordForm'>
            <div class='form-group error-height' ng-class="{ 'has-error': registerForm.password.$invalid && registerForm.password.$dirty }">
                <label>current password</label>
                <input type='password' class='form-control' name='password' ng-minlength='4' ng-model='user.password' required />
                <div class='help-block' ng-messages='registerForm.password.$error' role='alert'>
                    <p class='help-block' ng-message='required'>password is required</p>
                    <p class='help-block' ng-message='minlength'>password too short</p>
                </div>
            </div>
            <div class='form-group error-height' ng-class="{ 'has-error': registerForm.password.$invalid && registerForm.password.$dirty }">
                <label>new password</label>
                <input type='password' class='form-control' name='password' ng-minlength='4' ng-model='user.password' required />
                <div class='help-block' ng-messages='registerForm.password.$error' role='alert'>
                    <p class='help-block' ng-message='required'>password is required</p>
                    <p class='help-block' ng-message='minlength'>password too short</p>
                </div>
            </div>
            <div class='form-group error-height' ng-class="{ 'has-error': registerForm.password.$invalid && registerForm.password.$dirty }">
                <label>confirm password</label>
                <input type='password' class='form-control' name='password' ng-minlength='4' ng-model='user.password' required />
                <div class='help-block' ng-messages='registerForm.password.$error' role='alert'>
                    <p class='help-block' ng-message='required'>password is required</p>
                    <p class='help-block' ng-message='minlength'>password too short</p>
                </div>
            </div>

            <button type='submit' class='btn btn-default' ng-click='pc.changePassword()'>Submit</button>
        </form>
    </div>
</div>

