<div class="container-fluid">
    <h1 class="text-primary">Vote on poll (View2.html)</h1>
    <div class="well">
        <h3 id="question">{{ vc.poll.question }}</h3>
        <div class="choices-container">
            <div class='radio'>
                <div data-ng-repeat='(key, value) in vc.poll.choices'>
                    <span ng-class='vc.choice == key ? "glyphicon glyphicon-ok" : "blank"'>
                    </span>
                    <span ng-click='vc.toggleChoice(key)'>
                        {{ value.name }}
                    </span>
                </div>
            </div>
        </div>
        <button ng-click='vc.submitVote()' class='btn btn-default'>Vote</button>
    </div>
</div>

