.result-bar {
    display: inline-block;
    background-color: #D32F2F;
    width: 1%;
    height: 12px;
    border-radius: 3px;
}

.logout.ng-hide {
    transition: all 1s;
    opacity: 0;

}

.logout {
    transition: all 0s;
    opacity: 1;
}

#logout {
    color: #ff4040;
}
