<div class="container-fluid">
    <h1 class="text-primary">Register</h1>
    <div class="well">
        <form novalidate class='register-form' name='registerForm'>
            <div class='form-group' ng-class="{ 'has-error': registerForm.email.$invalid && registerForm.email.$dirty }">
                <label>username</label>
                <input type='text' class='form-control' name='username' ng-model='user.username' required />
                <div class='help-block' ng-messages='registerForm.username.$error' ng-show='registerForm.username.$touched'>
                    <p class='help-block' ng-message='required'>username is required</p>
                </div>
                <label>e-mail</label>
                <input type='text' class='form-control' name='email' ng-model='user.email' required />
                <div class='help-block' ng-messages='registerForm.email.$error' ng-show='registerForm.email.$touched' role='alert'>
                    <p class='help-block' ng-message='required'>email is required</p>
                </div>
                <label>password</label>
                <input type='password' class='form-control' name='password' ng-model='user.password' required />
                <div class='help-block' ng-messages='registerForm.password.$error' ng-show='registerForm.password.$touched' role='alert'>
                    <p class='help-block' ng-message='required'>password is required</p>
                </div>
                <label>confirm</label>
                <input type='password' class='form-control' name='confirm' ng-model='user.confirm' compare-to='user.password' required />
                <div class='help-block' ng-messages='registerForm.confirm.$error' ng-show='registerForm.confirm.$touched' role='alert'>
                    <p class='help-block' ng-message='required'>mathing password is required</p>
                    <p class='help-block' ng-message='compareTo'>password does not match</p>
                </div>
            </div>

            <button type='submit' class='btn btn-default' ng-click='rc.register(user)'>Register</button>
        </form>



    </div>
</div>

