<div class="container-fluid">
    <h1 class="text-primary">Login</h1>
    <div class="well">
        <form novalidate class='login-form' name='loginForm'>
            <div class='form-group' ng-class="{ 'has-error': loginForm.email.$invalid && loginForm.email.$dirty }">
                <label>e-mail</label>
                <input type='email' class='form-control' name='email' ng-model='user.email' required />
                <div class='help-block' ng-messages='loginForm.email.$error' ng-show='loginForm.email.$touched' role='alert'>
                    <p class='help-block' ng-message='required'>email is required</p>
                </div>
                <label>password</label>
                <input type='password' class='form-control' name='password' ng-model='user.password' required />
                <div class='help-block' ng-messages='loginForm.password.$error' ng-show='loginForm.password.$touched' role='alert'>
                    <p class='help-block' ng-message='required'>password is required</p>
                </div>
            </div>

            <button type='submit' class='btn btn-default' ng-click='rc.login(user)'>Login</button>
        </form>
    </div>
</div>

